<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<layoutService>
			<configurations>
				<config name="jss">
					<serialization type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.SerializationConfiguration, Sitecore.JavaScriptServices.ViewEngine">
						<transformer type="Hackathon.Foundation.SitecoreExtensions.Transformer.CustomLayoutTransformer, Hackathon.Foundation.SitecoreExtensions" patch:instead="transformer[@type='Sitecore.JavaScriptServices.ViewEngine.LayoutService.Serialization.LayoutTransformer, Sitecore.JavaScriptServices.ViewEngine']" resolve="true" />
					</serialization>
				</config>
			</configurations>
		</layoutService>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<renderJsonRendering>
						<processor
						  type="Hackathon.Foundation.SitecoreExtensions.RenderingExtension.RenderingParamExtension, Hackathon.Foundation.SitecoreExtensions"
						  resolve="true" />
					</renderJsonRendering>
					<getLayoutServiceContext>
						<processor type="Hackathon.Foundation.SitecoreExtensions.ContextData.ItemUrlContext, Hackathon.Foundation.SitecoreExtensions"
								   patch:after="processor[@type='Sitecore.LayoutService.ItemRendering.Pipelines.GetLayoutServiceContext.SiteContext, Sitecore.LayoutService']"/>
					</getLayoutServiceContext>
				</pipelines>
			</group>
		</pipelines>
	</sitecore>
</configuration>